*{
    margin: 0;
    padding: 0;
}

body {
    background-color: khaki;
}

#Home ,#About ,#Contact  {
min-height: 50vh;
padding: 10px;
border: 1px solid black;
font-size: 15px;

}

nav {
/* display: inline-block; */
border-radius: 100px;
background-color: #000000;
text-align: center;
padding: 10px;
/* width: 50%; */
margin:10px auto 10px auto;
}

nav a{
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    color: white;
}

nav a:hover{
    color: black;
    background-color: khaki;
}

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
    padding: 10px;
}

form {
    padding: 20px;
    border: 1px solid black;
    width: 25%;
    text-align: left;
    margin: auto;
}

form input{
    margin:10px;
}

.inLine label {
display: inline-block;
width: 75px;
text-align: left;
}

#center label{
    text-align: center;
    vertical-align: top;
    width: 100px
}

